@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #ffffff;
$font-color: #363636;
$font-hover-color: #6b6b6b;
$accent-color: #7dc3ff;
$border-color: #d5d5d5;

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color: $font-color;
  background-color: $background-color;
}

a {
  font-weight: bold;
  color: $font-color;
  text-decoration: none;
}

a:hover {
  color: $font-hover-color;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}